$maroon: #99162c;
$lighter_grey: #242424;
$light_maroon: #bb1a35;
$lightest_grey: #d8d8d8;

.progress_div{

	button {
    
    background: none;
    border: none;
    outline: inherit;

    background-color: $maroon;
    width: 150px;
    color: white;
    padding: 0.5em;
    font-size: 1em;
    max-width: 7em;
    max-height: 2.5em;
    margin: 0 auto;
    align-self: center;
  }

  .right{
  	float: right;
  }

  .buttons{
  	display: grid;
  	grid-gap: 0px;
  	grid-template-columns: 1fr 4fr 1fr;
  }

  .leftContain{
  	// position: relative;
  	padding-left: 50px;
  }
  .rightContain{
  	// position: relative;
  	padding-right: 50px;
  }
}

@media only screen and (max-width: 1050px) {
  .progress_div{
    .buttons{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    .progress-bar{
      grid-row: 1;
      grid-column: 1;
      grid-column-start: span 2;
    }

    .leftContain{
      grid-row: 2;
      grid-column: 1;
      align-content: right;
    }

    .rightContain{
      grid-row: 2;
      grid-column: 2;
    }
  }
}