$maroon: #550c18;
$lighter_grey: #2b2b2b;

.sidebar {
  background-color: $lighter_grey;
  color: white;
  height: 100vh;
}

.semester-section{
  background-color: $lighter_grey;
  color: white;
  padding-top: 0.3em;
  padding-left: 1em;

  .change-semester{
    background: $maroon;
    padding: 0.5em;
  }

  .change-semester:hover{
    background-color: rgb(153, 22, 44);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 0.5em;
    color: black;
    
    p{
      padding: 1em;
      margin: 0;
    }

    p:hover{
      background-color: rgb(196, 196, 196);
      cursor: pointer;
    }
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    backgroud-color: black;
  }
  
}

.Collapsible,
.Delete {
  background-color: $lighter_grey;
  color: white;
  display: block;
  margin: 0;

  span {
    display: block;
  }

  span:first-child {
    padding-left: 1em;
    padding-bottom: 0.5em;
  }

  .is-open,
  .Collapsible,
  .Collapsible__contentInner {
    background-color: maroon !important;
    .Collapsible__contentOuter {
      margin: 0.5em;
    }
  }

  .is-closed,
  .Collapsible__contentOuter {
    margin: 0em;
  }

  :hover {
    background-color: pink;
  }
}