.app {
  display: grid;
  grid-template-columns: 20em 2fr;
  width: 100%;
  height: 100vh;
}

.content {
  margin-top: 4em;
  padding: 1em;
}

.web-navbar{
  display: block;
}

.mobile-navbar{
  display: none;
}

.container-sidebar{
  .sidebar-web{
    display: block;
  }

  .sidebar-mobile{
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
  .app{
    grid-template-columns: 1fr;
  }
  
  .web-navbar{
    display: none;
  }

  .mobile-navbar{
    display: block;
  }

  .container-sidebar{
    .sidebar-web{
      display: none;
    }

    .sidebar-mobile{
      display: block;
    }
  }
}
